.qty-input {
    max-width: 50px;
    text-align: center;
    --padding-start: 5px;
    --padding-end: 5px;
}

.margin-presets {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.margin-input-item {
    --padding-start: 0;
    --inner-padding-end: 0;
}

ion-footer {
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    background: white;
}