<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Generar Cotización</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Generar Cotización</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Formulario de Cotización</h2>
    <p>Aquí se construirá el formulario para registrar una nueva **Cotización** en SQLite.</p>
  </div>
</ion-content>
